<div class="container-fluid">

    <!--说明-->
    <div class="clearfix cloud-block1">
        <h1>DNS</h1>
        <div ng-bind="description"></div>
    </div>

    <!--工具条-->
    <div class="clearfix cloud_tool">
        <div class="pull-left">
            <a class="btn btn-warning" href="#/dns_domain">
                <i class="icon-arrow-left icon-white"></i>&nbsp;返回DNS域名列表
            </a>
            <button class="btn" ng-click="add()">添加解析</button>
           <!-- <button class="btn" ng-click="start()" >开启</button>-->
            <button class="btn" ng-click="pause()" ng-disabled="!pauseBtn">暂停</button>
            <button class="btn" ng-click="reboot()" ng-disabled="!rebootBtn">重启</button>
            <button class="btn" ng-click="deleteitem()" ng-disabled="!deleteBtn">删除</button>
            <button class="btn btn-inverse" ng-click="refresh()"><i class="icon-repeat icon-white"></i></button>
        </div>

        <div class="pull-right input-append" >
            <input id="" type="text" ng-model="filterOptions.filterText">
            <button class="btn" type="button"><i class="icon-search"></i></button>
        </div>

    </div>

    <!--列表-->
    <div class="cloud-grid cloud_host_grid" ng-grid="gridOptions">
    </div>

</div>