<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.YunDbtypeMapper">
  <resultMap id="BaseResultMap" type="com.qf.pojo.YunDbtype">
    <id column="dbtypeid" jdbcType="BIGINT" property="dbtypeid" />
    <result column="dbconfigname" jdbcType="VARCHAR" property="dbconfigname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dbtypeid, dbconfigname
  </sql>
  <select id="selectByExample" parameterType="com.qf.pojo.YunDbtypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yun_dbtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yun_dbtype
    where dbtypeid = #{dbtypeid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yun_dbtype
    where dbtypeid = #{dbtypeid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.pojo.YunDbtypeExample">
    delete from yun_dbtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.pojo.YunDbtype">
    insert into yun_dbtype (dbtypeid, dbconfigname)
    values (#{dbtypeid,jdbcType=BIGINT}, #{dbconfigname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.pojo.YunDbtype">
    insert into yun_dbtype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbtypeid != null">
        dbtypeid,
      </if>
      <if test="dbconfigname != null">
        dbconfigname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbtypeid != null">
        #{dbtypeid,jdbcType=BIGINT},
      </if>
      <if test="dbconfigname != null">
        #{dbconfigname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.pojo.YunDbtypeExample" resultType="java.lang.Long">
    select count(*) from yun_dbtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yun_dbtype
    <set>
      <if test="record.dbtypeid != null">
        dbtypeid = #{record.dbtypeid,jdbcType=BIGINT},
      </if>
      <if test="record.dbconfigname != null">
        dbconfigname = #{record.dbconfigname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yun_dbtype
    set dbtypeid = #{record.dbtypeid,jdbcType=BIGINT},
      dbconfigname = #{record.dbconfigname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.pojo.YunDbtype">
    update yun_dbtype
    <set>
      <if test="dbconfigname != null">
        dbconfigname = #{dbconfigname,jdbcType=VARCHAR},
      </if>
    </set>
    where dbtypeid = #{dbtypeid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.pojo.YunDbtype">
    update yun_dbtype
    set dbconfigname = #{dbconfigname,jdbcType=VARCHAR}
    where dbtypeid = #{dbtypeid,jdbcType=BIGINT}
  </update>
</mapper>