<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.YunDatatypeMapper">
  <resultMap id="BaseResultMap" type="com.qf.pojo.YunDatatype">
    <id column="datatypeid" jdbcType="BIGINT" property="datatypeid" />
    <result column="dataname" jdbcType="VARCHAR" property="dataname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    datatypeid, dataname
  </sql>
  <select id="selectByExample" parameterType="com.qf.pojo.YunDatatypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yun_datatype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yun_datatype
    where datatypeid = #{datatypeid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yun_datatype
    where datatypeid = #{datatypeid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.pojo.YunDatatypeExample">
    delete from yun_datatype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.pojo.YunDatatype">
    insert into yun_datatype (datatypeid, dataname)
    values (#{datatypeid,jdbcType=BIGINT}, #{dataname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.pojo.YunDatatype">
    insert into yun_datatype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="datatypeid != null">
        datatypeid,
      </if>
      <if test="dataname != null">
        dataname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="datatypeid != null">
        #{datatypeid,jdbcType=BIGINT},
      </if>
      <if test="dataname != null">
        #{dataname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.pojo.YunDatatypeExample" resultType="java.lang.Long">
    select count(*) from yun_datatype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yun_datatype
    <set>
      <if test="record.datatypeid != null">
        datatypeid = #{record.datatypeid,jdbcType=BIGINT},
      </if>
      <if test="record.dataname != null">
        dataname = #{record.dataname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yun_datatype
    set datatypeid = #{record.datatypeid,jdbcType=BIGINT},
      dataname = #{record.dataname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.pojo.YunDatatype">
    update yun_datatype
    <set>
      <if test="dataname != null">
        dataname = #{dataname,jdbcType=VARCHAR},
      </if>
    </set>
    where datatypeid = #{datatypeid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.pojo.YunDatatype">
    update yun_datatype
    set dataname = #{dataname,jdbcType=VARCHAR}
    where datatypeid = #{datatypeid,jdbcType=BIGINT}
  </update>
</mapper>